<div class="container">
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/">
    <%= image_tag("logo.png", class: "rounded-circle") %> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Search
        </a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
<div class="bg-blue">
      <div class="container p-3">
        <div class="row">
          <div class="col-md-8">
            <h3>Bookings requests</h3>
            <p>You can see questions asked by renters via the platform</p>
          </div>
        </div>
      </div>
</div>

<div class="bg-blue">
  <div class="container p-3">
    <div class="row">
      <div class="col-md-8">

        <% @index_owner.booking.each do |booking| %>
        # some code
        <% end  %>
        <p>Hi Chloe! I’m interesting in booking your car during my trip in Birmingham.</p>
      <div>
        <a href="#" class="btn btn-primary w-150">Approve</a>
        <a href="#" class="btn btn-primary w-150">Decline</a>
      </div>

      <p>Hi Chloe! I’m interesting in booking your car during my trip in Birmingham.</p>
      <div>
        <a href="#" class="btn btn-primary w-150">Approve</a>
        <a href="#" class="btn btn-primary w-150">Decline</a>
      </div>



      </div>


    <div class="col-md-4">
    <div class="bg-white border p-3 sticky-top">
        <img src="https://res.cloudinary.com/djcwoukgv/image/upload/v1597792134/samples/ecommerce/car-interior-design.jpg" alt="" class="w-100 rounded">

            <div class="d-flex justify-content-between mt-3">
              <p><strong>Model</strong></p>
              <p>BMW</p>
            </div>

            <div class="d-flex justify-content-between mt-3">
              <p><strong>Duration</strong> </p>
              <p>Sept 9 - Sept 12</p>
            </div>

            <div class="d-flex justify-content-between mt-3 border-bottom">
              <p><strong>Price</strong>ss taxes</p>
              <p>350$</p>
            </div>

            <div class="d-flex justify-content-between mt-3">
              <p><strong>Total</strong></p>
              <p><strong>$380.80</strong></p>

            </div>

    </div>
  </div>
</div>
</div>
 </div>


<div class="container py-3">
      <div class="row">
        <div class="col-md-8">
          <h2>Car in renting</h2>
          <!-- card -->
            <div class="card-product">
              <img src="https://res.cloudinary.com/djcwoukgv/image/upload/v1597792134/samples/ecommerce/car-interior-design.jpg" />
              <h5 class="card-product-details">Mercedes Benz in Verona Italy</h5>
            </div>
        </div>


    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
