<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>CarCNC
  <% end %>

  <div class="btn-group">
    <button type="button" class="btn btn-primary">Menu</button>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Dashboard</a>
      <a class="dropdown-item" href="#">Saved cars</a>
      <a class="dropdown-item" href="#">Add a new offer</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Log out</a>
    </div>
  </div>
  
</div>