
<div class="bg-img">
<h1>Welcome on CARCNC</h1>
<h2>What are you looking for ?</h2>
  <form novalidate="novalidate" class="form-inline my-2 my-lg-0"action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="search-form-control form-group">
      <input class="form-control" type="search" placeholder="Location" aria-label="Search">
      <input type="dates" aria-label="Dates" placeholder="Dates" class="form-control">

        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> 
        </button>
    </div>
  </form>
  <h3><%= link_to 'Have a look to the index', cars_path %></h3>
  <h3><%= link_to 'Do you want to publish an offer ?', new_car_path %></h3>
</div>
