.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
}

.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: black;
  font-weight: bolder;
}

.card-product {
  display: flex;
  overflow: hidden;
  height: 120px;
/*  width: 700px;*/
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  margin: 32px auto;
}

.card-product img {
  width: 210px;
}

.card-product-details {
  margin: 16px 2px;
  padding: 0px 8px;
}
