.icon_wrapper {
    border: 3px solid grey;
    position: relative;
}
.submit_icon {
    position: absolute;
    top: 0;
    left: 0;
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
background: red;
}